body {
  width: 1024px;
  background-color: rgba(53, 129, 143, 0.363);
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 15px;
  text-align: left;
}

header {
  display: grid;
  text-align: left;
  font-size: 20px;
  padding: 20px;
  color: black;
  text-decoration: underline;
  background: rgba(60, 142, 167, 0.37);
  border: 1px solid black;
  border-radius: 5px;
}

.photo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid rgb(19, 19, 46);
  margin: 5px 0px;
  padding: 30px 10px 0px 10px;
}

.content {
  flex: 1;
  padding: 10px;
}

.code {
  text-align: left;
  padding: 10px;
  border: 1px solid rgb(19, 19, 46);
  margin: 5px 0px;
  background: rgba(58, 65, 131, 0.062);
}

.contacts {
  text-align: left;
  padding: 10px;
  color: black;
  border: 1px solid rgb(19, 19, 46);
  margin: 5px 0px;
  background: rgba(58, 65, 131, 0.062);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  body {
    width: 480px;
  }
}

@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }
  .photo {
    display: table-footer-group;
  }
}
